<% if job.errors.any?%>
 <p>Você deve resolver o seguinte:</p>
   <ul>
   <% job.errors.full_messages.each do |message|%>
     <li> <%= message %> </li>
    <% end %>
  </ul>
<% end%>

<%= form_with model: job, local: true do |f| %>

    <p>
    <%= f.label :title  %>
    <%= f.text_field :title %>
    </p>
    <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
    </p>
    <p>
    <%= f.label :skills %>
    <%= f.text_field :skills %>
    </p>
    <p>
    <%= f.label :salary_from %>
    <%= f.text_field :salary_from %>
    </p>
    <p>
    <%= f.label :salary_to %>
    <%= f.text_field :salary_to %>
    </p>
    <p>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    </p>
    <p>
    <%= f.label :where %>
    <%= f.text_field :where %>
    </p>
    <div>
    <%= f.label :job_level %>
    <%= f.collection_radio_buttons(:job_level, Job.job_levels, :first, :first ) %>
    </div>

    <%= f.submit %>
<% end %>