<h3>Os inscritos do <%=@job.title %> são: </h3>
<ul>
 <% @applies.each do |apply| %>
    <% if apply.starred? %>
    <li>
    <%= link_to image_tag('/star-fill.svg', size: '24' ), star_apply_path(apply) %>
    <%= link_to apply.profile.name, profile_path(apply.profile.id) %> 
    </li>
    <% else %>
    <li>
    <%= link_to image_tag('/stars.png', size: '24' ), star_apply_path(apply)%>
    <%= link_to apply.profile.name, profile_path(apply.profile.id) %> 
    </li>
    <% end %>
   
<% end %>
 </ul>


<%= link_to 'Voltar', :back %>