<h1> Vagas </h1>
<% if current_headhunter %>
    <%= link_to 'Criar nova vaga', new_job_path%> 
<% end %>

<%= form_with url: search_jobs_path, local: true, method: :get do %>
    <%= label_tag :q, 'Busca'%>
    <%= text_field_tag :q %>
    <%= submit_tag 'Buscar'%>
<% end %>

<ul>
 <% @jobs.each do |job| %>
    <% if job.available? %>
        <li>
        <%= link_to job.title, job %> 
        <p> <%= job.description %> </p>
        </li>
    <% end %>
<% end %>
 </ul>


<%= link_to 'Voltar', root_path %>