<h1> <%= @job.title %> </h1>
<dl>
    <dt>Nível:</dt>
    <dd> <%= @job.job_level %> </dd>

    <dt>Habilidades:</dt>
    <dd> <%= @job.skills %> </dd>

    <dt> Faixa Salarial: </dt>
    <dd> <%= number_to_currency(@job.salary_from) %> - <%= number_to_currency(@job.salary_to) %> </dd>

    <dt>Descrição: </dt>
    <dd> <%= @job.description %> </dd>

    <dt>Região: </dt>
    <dd> <%= @job.where%> </dd>

    <dt> Vence em: </dt>
    <dd> <%= l @job.end_date %> </dd>
</dl>
<% if current_applicant %>
   <% if current_applicant.profile.done? %>
      <%= button_to 'Inscrição', start_job_path %>
   <% end %>
<% end %>

<% if current_headhunter %>
   <%= button_to 'Candidatos', candidates_job_path, method: :get %>
<% end %>


<%= link_to 'Voltar', jobs_path %>