
<h3>Proposta de Trabalho do(a) <%= @proposal.apply.job.title%> </h3>
<% if @proposal.pondering? && current_applicant %>
  <%= button_to 'Aceitar', pass_proposal_path(@proposal), method: :get %>
  <%= button_to 'Rejeitar', refuse_proposal_path(@proposal), method: :get %>
<% end %>

<% if @proposal.negative? %>
    <%= form_with(model: [ @proposal, @proposal.evaluations.build ], local: true) do |f|%>
        <% if @proposal.evaluations.to_do %>
        <p>
            <%= f.label :body, 'Feedback' %><br>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit 'Enviar' %>
        </p>
        <% end %>
    
    <% end %> 

     <h4>Resposta do candidato(a)</h4>
    <%= @proposal.evaluations.each do |evaluation| %>
        <p>
        <%= evaluation.body%>
        </p>
    <% end %>
<% end %>

<% if @proposal.positive? && current_headhunter %>
  <%= button_to 'Encerrar vaga', end_job_path(@proposal.apply.job) %>
<% end %>

<dl>
    <dt>Cargo:</dt>
    <dd> <%= @proposal.position %> </dd>

    <dt>Detalhes do Cargo:</dt>
    <dd> <%= @proposal.job_details %> </dd>

    <dt> Salário: </dt>
    <dd> <%= number_to_currency(@proposal.salary) %>  </dd>

    <dt>Bônus: </dt>
    <dd> <%= number_to_currency(@proposal.bonus) %> </dd>

    <dt>Benefícios: </dt>
    <dd> <%= @proposal.benefits%> </dd>

    <dt> Começa em: </dt>
    <dd> <%= l @proposal.start_date %> </dd>

    <dt>Informações Adicionais: </dt>
    <dd> <%= @proposal.addicional_info %> </dd>
</dl>
<% if current_headhunter %>
   <%= link_to 'Voltar', candidates_job_path(@proposal.apply.job) %>
<% else %>
   <%= link_to 'Voltar', :back %>
<% end %>