<!DOCTYPE html>
<html>
  <head>
    <title>JobHuntingTreinadev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if applicant_signed_in? %>
      <%= render partial: 'shared/menu_applicant' %>
      <%= link_to 'Sair', destroy_applicant_session_path, method: :delete %>
    <% elsif headhunter_signed_in? %>
      <%= render partial: 'shared/menu_headhunter' %>
      <%= link_to 'Sair', destroy_headhunter_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login Candidato', new_applicant_session_path %>
      <%= link_to 'Login Headhunter', new_headhunter_session_path %>
    <% end %>
    </nav>
    <p> <%= notice %> </p>
    <p> <%= alert %> </p>
    <%= yield %>
  </body>
</html>
